[submodule "third-party/Treap"]
	path = third-party/Treap
	url = git@github.com:AsherJingkongChen/DuAlgorithm.git
[submodule "third-party/BTree"]
	path = third-party/BTree
	url = git@github.com:AsherJingkongChen/cpp-btree.git
[submodule "third-party/Skiplist"]
	path = third-party/Skiplist
	url = git@github.com:AsherJingkongChen/skip_list.git
[submodule "third-party/matplotlib-cpp"]
	path = third-party/matplotlib-cpp
	url = git@github.com:lava/matplotlib-cpp.git
